{% extends "Shared/Layout.html" %} {% block username %}{{username}}{% endblock %}
{% block content %}
{% load static %}
{% csrf_token %}
{% load custom_filters %}
 <!-- Custom styles for this html-->

 <link href="{% static 'css/uploadExcel.css' %}" rel="stylesheet" type="text/css" >
 <link href="{% static 'css/uploadModal.css' %}" rel="stylesheet" type="text/css" >
 <link rel="stylesheet" type="text/css" href="{% static 'css/tooltips.css' %}" />

 <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
 <!-- Include DataTables CSS -->
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
 <!-- Include DataTables JS -->
 <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

 <!-- Begin Page Content -->

 <style>
    table {
        width: 100%;
        border-collapse: collapse;
        white-space: nowrap;
        background-color: #aad08b;
    }
  
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
        font-weight: normal;
        color: black;
    }
    th{
        font-weight: bold;
       }

    .scroll-container {
        overflow-x: auto;
        white-space: nowrap;
    }

    .timeslot-details tr:nth-child(odd) td {
        background-color:rgb(219, 239, 200);
    }
    .timeslot-details tr:nth-child(even) td {
        background-color: rgb(219, 239, 200);
    }

    select.select {
        border-radius: 10px; 
        border: 1px solid #ccc; 
        color: #000;
        padding: 8px; 
        font-size: 16px; 
        background-color: #fff; 
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
        border-color: black;
      }
</style>



<form method="POST" action="{% url 'time_table' %}">
    {% csrf_token %}
    <input type="hidden" id="id1" name="id1" value="{{id1}}">
    {% for class_name, days in timetable.items %}
        <div style="border: 1px solid black;zoom:80%;background-color: #aad08b;" >
            <h1 style="text-align: center;color: black;font-weight: 600;">{{ class_name }}</h1>
        </div>
        <div class="scroll-container " style="zoom:80%;" >
            <table>
                {% for day_index, day, timeslots in days|enumerate_dict %}
                    <tr>
                        <th colspan="{{ timeslots|length|add:1 }}" style="background-color: #aad08b;color: black;"> <h1 style="color: black;font-weight: 600;">{{ day }} </h1></th>
                    </tr>
                    <tr style="text-align:center;">
                        {% for timeslot_index, timeslot, details in timeslots|enumerate_dict %}
                            <th style="text-align:center;">
                                <select name="timeslot_{{ day_index }}_{{ timeslot_index }}" style="font-size:25px;border-radius:10em;background-color: #aad08b;color: black;"  class=" select">
                                    {% for data in td %}
                                        <option value="{{ data.0 }}" {% if data.0|to_str == timeslot|to_str %}selected{% endif %}>{{ data.1 }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                        {% endfor %}
                    </tr>
                    
                    <!-- Table Headers inside each Timeslot -->
                    <tr>
                        {% for timeslot_index, timeslot, details in timeslots|enumerate_dict %}
                            <td>
                                <table class="timeslot-details">
                                    <tr>
                                        <th style="width: 80px;">Section</th>
                                        <th style="width: 200px;">Course</th>
                                        <th style="width: 180px;">Faculty Name</th>
                                        <th style="width: 150px;">Classroom</th>
                                    </tr>
                                    {% for row_index, item in details|enumerate_list %}
                                        <tr>
                                            <input type="hidden" id="ttid" name="ttid_{{ day_index }}_{{ timeslot_index }}_{{ row_index }}" value="{{item.ttid}}">

                                            <td>
                                                <select style="border-radius:10em;background-color: rgb(219, 239, 200)  ;"  class="form-control select" name="section_{{ day_index }}_{{ timeslot_index }}_{{ row_index }}">
                                                    {% for data in sd %}
                                                        <option value="{{ data.0 }}" {% if data.0|to_str == item.section|to_str %}selected{% endif %}>{{ data.1 }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <select style="border-radius:10em;background-color: rgb(219, 239, 200)  ;"  class="form-control select" name="course_{{ day_index }}_{{ timeslot_index }}_{{ row_index }}">
                                                    {% for data in cd %}
                                                        <option value="{{ data.0 }}" {% if data.0|to_str == item.course|to_str %}selected{% endif %}>{{ data.1 }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <select style="border-radius:10em;background-color: rgb(219, 239, 200)  ;"  class="form-control select" name="faculty_name_{{ day_index }}_{{ timeslot_index }}_{{ row_index }}">
                                                    {% for data in fd %}
                                                        <option value="{{ data.0 }}" {% if data.0|to_str == item.faculty_name|to_str %}selected{% endif %}>{{ data.1 }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <select style="border-radius:10em;background-color: rgb(219, 239, 200)  ;"  class="form-control select" name="classroom_{{ day_index }}_{{ timeslot_index }}_{{ row_index }}">
                                                    {% for data in crd %}
                                                        <option value="{{ data.0 }}" {% if data.0|to_str == item.classroom|to_str %}selected{% endif %}>{{ data.1 }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>

    {% endfor %}

    <br>
    <div style="text-align:center" >
        <button type="submit"  class="btn btn-md btn-primary">Save Changes</button>
    </div>

</form>
 
{% load static %}


{% if messages %}
  {% for message in messages %}
    <script>
    Swal.fire({
      title: "{{ message.tags }}",
      text: "{{ message }}",
      icon: "{{ message.tags }}",
      confirmButtonText: "OK",
    });
  </script>
  {% endfor %}
{% endif %}

<script type="text/javascript">

</script>    
<!-- End of Main Content -->
{% endblock %}